.HeaderComponent {
  height: 220px;
  background-image: url('https://imageio.forbes.com/blogs-images/ofx/files/2018/09/OFX3-iStock-492595743-1200x800.jpg?format=jpg&width=960');
  color: coral;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: xx-large;
  font-weight: bold;
}
